html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  margin: 10px 0;
}

#map {
  height: 100vh;   /* or at least 500px */
  width: 100%;
}
.night-btn {
  position: absolute;
  top: 80px; 
  right: 20px;
  z-index: 1000;
  background: black;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.night-btn:hover {
  background: #333;
}
